html{
    border : thick solid black ;
    padding: 2px 2px 2px 2px;
    margin: 10px 10px 10px 10px;
}
.image{
    margin-right: 20px;
}
h1{
    color: darkblue;
    font-size: 18;
    font-family: "Times New Roman";
}
h2{
    color: darkred;
    font-size: 16;
    font-family: "Times New Roman";
}
summary{
    color: blue;
    margin-left: 20px;
}
pre{
    color: red;
    margin-left: 40px;
}